@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    --text-colour:rgb(255, 255, 255);
    --background-colour: rgb(26, 24, 35);

    color: var(--text-colour);
    background-color: var(--background-colour);
}